<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
<div th:include="fragments/common :: navbar"></div>

<div class="container">

    <form name="addBookForm" th:object="${bookDetails}" method="POST" class="form-adding">
        <h2 class="form-adding-heading" th:text="#{add.book.title}">Add book</h2>

        <input name="authors" type="text" class="form-control input-block-top"
             th:placeholder="#{add.book.authors}" th:field="*{authors}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('authors')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{authors}"></span>
        </div>

        <input name="title" type="text" class="form-control input-block"
            th:placeholder="#{add.book.titles}" th:field="*{title}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('title')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{title}"></span>
        </div>

        <input name="publisher" type="text" class="form-control input-block"
            th:placeholder="#{add.book.publisher}" th:field="*{publisher}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('publisher')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{publisher}"></span>
        </div>

        <input name="isbn" type="text" class="form-control input-block"
            th:placeholder="#{add.book.isbn}" th:field="*{isbn}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('isbn')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{isbn}"></span>
        </div>

        <input name="language" type="text" class="form-control input-block"
            th:placeholder="#{add.book.language}" th:field="*{language}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('language')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{language}"></span>
        </div>

        <input name="imageUrl" type="text" class="form-control input-block"
            th:placeholder="#{add.book.imageUrl}" th:field="*{imageUrl}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('imageUrl')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{imageUrl}"></span>
        </div>

        <input name="year" type="text" class="form-control input-block"
            th:placeholder="#{add.book.year}" th:field="*{year}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('year')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{year}"></span>
        </div>

        <input name="thumbnailUrl" type="text" class="form-control input-block"
            th:placeholder="#{add.book.thumbnailUrl}" th:field="*{thumbnailUrl}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('thumbnailUrl')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{thumbnailUrl}"></span>
        </div>

        <input name="pages" type="text" class="form-control input-block-bottom"
            th:placeholder="#{add.book.pages}" th:field="*{pages}"/>
        <div class="alert alert-warning alert-dismissable" th:if="${#fields.hasErrors('pages')}" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:errors="*{pages}"></span>
        </div>
        <button name="submit" type="submit" class="btn btn-lg btn-primary btn-block"
                th:text="#{add.book}">Add book</button>
    </form>
</div>

<div th:include="fragments/common :: scripts"></div>
</body>

</html>
