<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="well" th:include="fragments/books :: bookDetails"
            th:with="details=${book.details}"></div>

        <div class="alert alert-warning alert-dismissable"
            th:if="${bookNotUpdated}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:text="#{warning.book.not.updated}"></span>
        </div>

        <form method="POST">
            <div class="pull-right" th:if="${currentUser.manager}">
                <p>
                    <button name="share" type="submit" class="btn btn-primary"
                        th:text="#{book.action.share}"></button>
                    <button name="remove" type="submit" class="btn btn-warning"
                        th:text="#{book.action.remove}"></button>
                </p>
            </div>

            <p th:if="${!book.hasVoter(currentUser)}">
                <button name="vote" type="submit" class="btn btn-primary"
                    th:text="#{book.action.vote}"></button>
            </p>
        </form>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
