<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12" th:include="fragments/common :: paginator"
                th:with="pageNum=${searchResults.pageNum}, pagesTotal=${searchResults.pagesTotal}, pageUrl='/search'">
            </div>
        </div>

        <div class="row" th:with="books=${searchResults.content}">
            <div class="col-md-12" th:if="${books.isEmpty()}">
                <p class="text-info" th:text="#{warning.books.not.found}"></p>
            </div>

            <div class="col-md-3" th:each="book : ${books}"
                th:include="fragments/books :: bookThumbnail"
                th:with="details=${book.details}, detailsUrl=@{shared-book(bookId=${book.id})}"></div>
        </div>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
