<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="well" th:include="fragments/books :: bookDetails"
                    th:with="details=${book.details}"></div>
            </div>
        </div>

        <div class="row" th:if="${bookNotUpdated}">
            <div class="col-md-12 ">
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span th:text="#{warning.book.not.updated}"></span>
                </div>
            </div>
        </div>

        <div class="row" th:if="${book.subscribersNum > 0}">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li th:each="subscriber : ${book.subscribers}">
                        <span
                            th:class="'label ' + ${subscriber.equals(currentUser) ? 'label-info' : 'label-default'}"
                            th:text="${subscriber.readableName}"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form method="POST" class="pull-right">
                    <p>
                        <button name="subscribe" type="submit"
                            class="btn btn-default"
                            th:text="#{book.action.subscribe}"
                            th:if="${!book.hasSubscriber(currentUser)}"></button>
                        <button name="unsubscribe" type="submit"
                            class="btn btn-default"
                            th:text="#{book.action.unsubscribe}"
                            th:if="${book.hasSubscriber(currentUser)}"></button>
                    </p>
                </form>
            </div>
        </div>

        <hr />

        <div class="row" th:if="${!book.available}">
            <div class="col-md-12">
                <p class="text-info" th:object="${book}"
                    th:text="#{book.message.used(*{usedBy.readableName}, *{usedWithin()})}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <form method="POST">
                    <p>
                        <button name="reserve" type="submit"
                            class="btn btn-primary"
                            th:text="#{book.action.reserve}"
                            th:if="${book.canBeReserved()}">
                            <span></span>
                        </button>
                        <button name="release" type="submit"
                            class="btn btn-warning"
                            th:text="#{book.action.release}"
                            th:if="${book.canBeReleasedBy(currentUser)}"></button>
                    </p>
                </form>
            </div>

            <div class="col-md-3 col-md-offset-6"
                th:if="${book.isManagedBy(currentUser)}">
                <form method="POST" class="pull-right">
                    <p>
                        <button name="takeOut" type="submit"
                            class="btn btn-primary"
                            th:text="#{book.action.takeout}"
                            th:if="${book.canBeTakenOutBy(currentUser)}"></button>
                        <button name="takeBack" type="submit"
                            class="btn btn-primary"
                            th:text="#{book.action.takeback}"
                            th:if="${book.canBeTakenBackBy(currentUser)}"></button>

                        <button name="remind" type="submit"
                            class="btn btn-default"
                            th:text="#{book.action.remind}"
                            th:if="${book.reserved or book.borrowed}">
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
