<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <address th:object="${currentUser}">
                    <strong th:text="*{readableName}"></strong><br />
                    <a th:href="'mailto:' + *{mail}" th:text="*{mail}"></a>
                </address>
            </div>
        </div>

        <hr />

        <div class="row" th:unless="${usedBooks.isEmpty()}">
            <div class="col-md-12">
                <h4 th:text="#{user.books.used}"></h4>
                <div th:include="fragments/books :: booksList"
                    th:with="books=${usedBooks}"></div>
            </div>
        </div>

        <div class="row" th:unless="${expectedBooks.isEmpty()}">
            <div class="col-md-12">
                <h4 th:text="#{user.books.expected}"></h4>
                <div th:include="fragments/books :: booksList"
                    th:with="books=${expectedBooks}, showAvailable=#{true}"></div>
            </div>
        </div>

    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
