<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <address th:object="${currentUser}">
            <strong th:text="*{readableName}"></strong><br />
            <a th:href="'mailto:' + *{mail}" th:text="*{mail}"></a>
        </address>

        <hr />

        <div th:unless="${usedBooks.isEmpty()}">
            <h4 th:text="#{book.message.used}"></h4>
            <div th:include="fragments/books :: booksList"
                th:with="books=${usedBooks}"></div>
        </div>

        <div th:unless="${expectedBooks.isEmpty()}">
            <h4 th:text="#{book.message.expected}"></h4>
            <div th:include="fragments/books :: booksList"
                th:with="books=${expectedBooks}, showAvailable=#{true}"></div>
        </div>

    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
