<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="panel panel-info" th:if="${!usedBooks.isEmpty()}">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{book.message.used}"></h3>
            </div>
            <div class="panel-body" th:include="fragments/books :: booksList"
                th:with="books=${usedBooks}"></div>
        </div>

        <div class="panel panel-info" th:if="${!expectedBooks.isEmpty()}">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{book.message.expected}"></h3>
            </div>
            <div class="panel-body" th:include="fragments/books :: booksList"
                th:with="books=${expectedBooks}"></div>
        </div>

    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
