<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div th:include="fragments/common :: paginator"
            th:with="pageNum=${searchResults.pageNum}, pagesTotal=${searchResults.pagesTotal}, pageUrl='/vote'"></div>

        <div th:with="books=${searchResults.content}">
            <p class="text-info" th:text="#{warning.books.not.found}"
                th:if="${books.isEmpty()}"></p>

            <div class="col-md-3" th:each="book : ${books}"
                th:include="fragments/books :: bookThumbnail"
                th:with="details=${book.details}, detailsUrl=@{offered-book(bookId=${book.id})}"></div>
        </div>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
