<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="bookThumbnail">
        <div class="thumbnail" th:object="${details}">
            <div class="text-center" th:if="*{thumbnailUrl}">
                <a th:href="${detailsUrl}">
                    <img onerror="$(this).hide();" th:src="*{thumbnailUrl}" />
                </a>
            </div>

            <div class="caption">
                <h4 th:text="*{title}"></h4>
                <p th:text="*{authors}"></p>

                <p>
                    <a class="btn btn-primary" th:href="${detailsUrl}"
                        th:text="#{book.action.view}"></a>
                </p>
            </div>
        </div>
    </div>

    <div th:fragment="bookDetails">
        <div class="media" th:object="${details}">
            <div class="pull-left" th:if="*{thumbnailUrl}">
                <img class="media-object" onerror="$(this).hide();"
                    th:src="*{thumbnailUrl}" />
            </div>
            <div class="media-body">
                <h3 th:text="*{title}"></h3>
                <p th:text="*{authors}"></p>

                <br />

                <ul class="list-unstyled">
                    <li>
                        <strong th:text="#{book.details.publisher}"></strong>
                        <span th:text="*{publisher}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.year}"></strong>
                        <span th:text="*{year}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.language}"></strong>
                        <span th:text="*{language}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.pages}"></strong>
                        <span th:text="*{pages}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.isbn}"></strong>
                        <span th:text="*{isbn}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="booksList">
        <ul class="list-group">
            <li class="list-group-item" th:each="book : ${books}"
                th:with="details=${book.details}">
                <span class="pull-right label label-success"
                    th:text="#{book.status.available}"
                    th:if="${#bools.isTrue(showAvailable) and book.available}"></span>
                <a th:href="@{/shared-book(bookId=${book.id})}"
                    th:text="${book.details.title}"></a>
            </li>
        </ul>
    </div>

</body>

</html>
