<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<meta charset="utf-8" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="#{app.title}">Library</title>

<link rel="shortcut icon" th:href="@{/favicon.ico}" />

<link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/resources/library/css/library.css}" />

</head>

<body>

    <div th:fragment="navbar">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand" th:text="#{app.title}"></span>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/search}">
                                <span class="glyphicon glyphicon-search"></span>
                                <span th:text="#{app.page.search}"></span>
                            </a>
                        </li>
                    </ul>

                    <div class="pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a th:href="@{/user}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <strong th:text="${currentUser.username}"></strong>
                                </a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <a th:href="@{/j_spring_security_logout}">
                                    <span class="glyphicon glyphicon-off"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/addBook}" th:if="${currentUser.manager}">
                                    <i class="icon-plus-sign"></i>
                                    <span th:text="#{app.page.offer}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="paginator">
        <div class="text-center" th:if="${pagesTotal > 1}">
            <ul class="pagination">
                <li th:class="${pageNum == 0} ? 'disabled'">
                    <a
                        th:href="@{${pageUrl}(pageNum=${pageNum &gt; 0 ? pageNum - 1 : 0})}">«</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, pagesTotal - 1)}"
                    th:class="${i == pageNum} ? 'active'">
                    <a th:href="@{${pageUrl}(pageNum=${i})}" th:text="${i}"></a>
                </li>
                <li th:with="lastPageNum=${pagesTotal - 1}"
                    th:class="${pageNum >= lastPageNum} ? 'disabled'">
                    <a
                        th:href="@{${pageUrl}(pageNum=${pageNum &lt; lastPageNum ? pageNum + 1 : lastPageNum})}">»</a>
                </li>
            </ul>
        </div>
    </div>

    <div th:fragment="scripts">
        <script src="//code.jquery.com/jquery-latest.min.js"></script>
        <script
            src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </div>

</body>

</html>
